{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<link rel="stylesheet" href="/static/style.css" type="text/css">

{% if session['signed_up'] %}
<p>You're signed up already!</p>
{% else %}
 
 

<form action="/signup" method="POST">
	<div class="signup">
		<div class="signup-screen">
			<div class="app-title">
				<h1>Sign Up</h1>
			</div>
 
			<div class="signup-form">
				<div class="control-group">
				<input type="text" class="signup-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="signup-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="signup-field" value="" placeholder="password" name="password">
				<label class="signup-field-icon fui-lock" for="signup-pass"></label>
                </div>
                
                <div class="control-group">
                <input type="email" class="signup-field" value="" placeholder="email" name="email">
                <label class="signup-field-icon fui-lock" for="signup-email"></label>
                </div>
 
                <input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}